<h2 class="image-title"><a class="apod-image-link" href="https://apod.nasa.gov/apod/ap{{ image_date|date('ymd') }}.html" rel="nofollow" title="{{ title }}" target="_blank">{{ title }}</a></h2>
<div class="image-date">{{ image_date|date('F j, Y') }}</div>
<div class="image-image">{{ image }}</div>
<div class="image-links">{{ links }}</div>
<div class="image-description">{{ description }}</div>